Repository HYF-Class20/agile-development-group2-hyf-redesign, pull requests merged in 2023-04, with the labels that each got.

#5 created user-Persona
  planning/communication.md
  planning/constraints.md
  planning/user-personas.md
Labels: user-Persona

#1 added communication
  planning/communication.md
Labels: communication

#8 added README.md
  README.md
Labels: README.md

#10 added planning/development-strategy.md
  planning/development-strategy.md
Labels: development-strategy

#11 created Backlog
  planning/backlog.md
Labels: back-log

#13 updated Backlog
  planning/backlog.md
Labels: back-log

#18 Design
  index.html
  planning/design.md
  planning/img/wireframe update.png
Labels: design

#23 Development strategy
  planning/development-strategy.md
Labels: development-strategy

#21 Design update
  planning/design.md
  planning/img/wireframe update.png
Labels: design

#24 created Retrospective
  planning/constraints.md
  planning/retrospective.md
Labels: retro
